version: 2
jobs:
  build:
    working_directory: ~/loghub
    docker:
      - image: circleci/openjdk:8-jdk-browsers
    steps:
      - checkout
      - restore_cache
        key: loghub-{{ checksum "pom.xml" }}
      - run: mvn dependency:go-offline
      - save_cache:
                paths:
                  - ~/.m2
                key: loghub-{{ checksum "pom.xml" }}
      - run: mvn package
      - store_test_results:
          path: target/surefire-reports